<div class="container">
    <h3>Gbsu Ftb Lai</h3>
    <form [formGroup]="inputForm" (ngSubmit)="submitNumber()">
        <div class="form-row">
            <div class="form-group col">
                <label>Number To Convert</label>
                <input type="number" placeholder="inputNumber" formControlName="inputNumber" class="form-control"  />
            </div>
        </div>
        <div class="text-left">
            <button  [disabled]="!inputForm.valid" class="btn btn-primary mr-1">Convert</button>
        </div>
    </form>
</div>