<div class="well">
    <h3>Write a program that convert an input number into a string according to the following
        rules : </h3>
    <ul class="list-group">
        <li class="list-group-item">
            If the number is divisible by 3 or contains 3, replace 3 by "Gbsu";
        </li>
        <li class="list-group-item">
            if the number is divisible by 5 or contains 5, replace 5 by "Ftb";
        </li>
        <li class="list-group-item">
            if the number contains 7, replace 7 by "Lai".
        </li>
        <li class="list-group-item">
            Divisors have high predecence, the content is analyzed in the order of appearance.
        </li>
        <li class="list-group-item">
            If no match, return the input number as a string.
        </li>
    </ul>
    <h3> Here is a list of examples :</h3>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let testCase of testCases">
            {{testCase.input}} should return {{testCase.output}}
        </li>
    </ul>
</div>
