<div>
  <div class="container">
    <h2>Already converted values :</h2>
    <div *ngFor="let numberConverted of listNumberConverted " class="alert alert-success" role="alert">
      {{ numberConverted.numberToConvert }} and the result is {{ numberConverted.result }}
    </div>
  </div>
  <app-gbsu-ftb-lai-form
    (submitNumberOutput)="convertNumber($event)"
  ></app-gbsu-ftb-lai-form>
</div>
